@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

.main-desktop {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 6;
  display: flex;
  justify-content: space-around;
}
.main-wrapper {
  grid-row-start: 2;
  grid-row-end: 7;
  display: inline-grid;
  grid-template-rows: 10% 10% 45% 55% 20% 3%;
  width: 75vw;
  margin: 0;
}
.stp-annimation {
  display: flex;
  grid-row-start: 3;
  flex-direction: column;
  position: absolute;
  padding-left: 30px;
  z-index: 2;
  margin-top: 2px;
}
.stp-annimation li {
  opacity: 0;
  text-align: center;
  font-size: 17px;
  animation: firstmove 1s linear forwards;
  list-style: none;
  font-family: "Syne Mono", monospace;
}
.stp-dwayne {
  width: 80vw;
  margin: 0 auto;
  right: 50px;
  margin-top: 55px;
  margin-left: 20px;
}
.stp-dwayne:focus {
  width: 100vw;
}
.green-box {
  background-color: #dfff00;
  z-index: -1;
  height: 30vh;
  margin-left: 0px;
  width: 50vw;
}

@keyframes firstmove {
  0% {
    color: #dfff00;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    color: #d0fc0d;
    text-shadow: 3px 3px 7px #000000;
  }
}

.stp-annimation span:nth-child(1) {
  animation-delay: 1s;
}
.stp-annimation li:nth-child(2) {
  animation-delay: 1s;
}
.stp-annimation li:nth-child(3) {
  animation-delay: 1.5s;
}
.stp-annimation li:nth-child(4) {
  animation-delay: 2s;
}
.stp-annimation li:nth-child(5) {
  animation-delay: 2.5s;
}
.stp-annimation li:nth-child(6) {
  animation-delay: 3s;
}
.stp-annimation li:nth-child(7) {
  animation-delay: 3.5s;
}

.new-main-wrapper {
  grid-row-start: 6;
  grid-row-end: 7;
  display: flex;
  flex-direction: column;
  background-color: #310059;
  width: 80vw;
  border-radius: 30px/30px;
  padding: 10px 0px 10px 10px;
  z-index: 2;
}

@media only screen and (min-width: 374px) {
  .green-box {
    width: 55vw;
  }
  .stp-dwayne {
    height: 35vh;
  }
  .new-main-wrapper {
    margin-top: 10%;
  }
  .stp-annimation {
    padding-left: 1.5rem;
    margin-top: 2rem;
  }
  .stp-annimation li {
    font-size: 20px;
    letter-spacing: 1.5px;
  }
}
@media only screen and (min-width: 413px) {
  .stp-dwayne {
    height: 40vh;
    padding-top: 15px;
  }
  .stp-annimation {
    width: 50vw;
    top: -20px;
    grid-row-start: 3;
  }
  .stp-annimation li {
    font-size: 23px;
  }
}

@media only screen and (min-width: 766px) {
  .green-box {
    height: 35vh;
  }
  .stp-annimation {
    margin-left: 3em;
  }
  .stp-annimation li {
    font-size: 38px;
  }
  .stp-dwayne {
    height: 45vh;
    margin-left: 4em;
  }
}

@media only screen and (min-width: 799px) {
  .green-box {
    height: 50vh;
  }
  .stp-dwayne {
    height: 75vh;
  }
  .stp-annimation {
    margin-left: 2em;
  }
  .stp-annimation li {
    font-size: 40px;
  }
}

@media only screen and (min-width: 999px) {
  .main-desktop {
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 6;
    align-items: flex-start;
  }
  .main-wrapper {
    grid-template-rows: 10% 10% 45% 55% 20% 3%;
    width: 45%;
  }
  .green-box {
    width: 27vw;
    height: 40vh;
  }
  .stp-dwayne {
    width: 35vw;
    height: 60vh;
  }
  .stp-annimation {
    align-items: flex-start;
    margin-top: 5%;
    width: 45rem;
    margin-left: 4rem;
  }
  .stp-annimation li {
    letter-spacing: 0.35em;
    font-size: 42px;
    line-height: 1.25;
  }
  .new-main-wrapper {
    width: 48%;
    margin-top: 0;
  }
}
