@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

.main-wrapper {
  width: 75vw;
  margin: 0;
}
.stp-annimation {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  width: 7em;
  padding-left: 20px;
  z-index: 2;
  top: 150px;
}
.stp-annimation li {
  opacity: 0;
  text-align: center;
  font-size: 17px;
  animation: firstmove 1s linear forwards;
  list-style: none;
  font-family: "Syne Mono", monospace;
}
.stp-dwayne {
  width: 80vw;
  margin: 0 auto;
  right: 50px;
  margin-top: 55px;
  margin-left: 20px;
}
.stp-dwayne:focus {
  width: 100vw;
}
.green-box {
  background-color: #dfff00;
  z-index: -1;
  height: 27vh;
  margin-left: 0px;
  width: 155px;
}

@keyframes firstmove {
  0% {
    color: #dfff00;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    color: #d0fc0d;
    text-shadow: 0 0 7px #d0fc0d;
  }
}

.stp-annimation span:nth-child(1) {
  animation-delay: 1s;
}
.stp-annimation li:nth-child(2) {
  animation-delay: 1s;
}
.stp-annimation li:nth-child(3) {
  animation-delay: 1.5s;
}
.stp-annimation li:nth-child(4) {
  animation-delay: 2s;
}
.stp-annimation li:nth-child(5) {
  animation-delay: 2.5s;
}
.stp-annimation li:nth-child(6) {
  animation-delay: 3s;
}
.stp-annimation li:nth-child(7) {
  animation-delay: 3.5s;
}

.new-main-wrapper {
  margin-top: 130px;
  height: 30vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
}
.newest-title {
  font-family: "Shrikhand", cursive;
  line-height: 0.8em;
  letter-spacing: -2;
  font-weight: 400;
  align-content: center;
  margin-top: 10px;
  font-size: 26px;
  padding-left: 10px;
}

@media only screen and (min-width: 340px) {
  .green-box {
    background-color: black;
    width: 50vw;
  }
  .stp-annimation {
    top: 160px;
    width: 12em;
    padding-left: 5px;
  }
  .stp-annimation li {
    font-size: 20px;
  }
  .stp-dwayne {
    padding-top: 30px;
    margin-top: 20px;
  }
  .new-main-wrapper {
    margin-top: 200px;
    height: 25vh;
  }
  .newest-title {
    padding-left: 20px;
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 374px) {
  .green-box {
    background-color: blue;
    width: 47vw;
    height: 29vh;
  }
  .stp-dwayne {
    margin-top: 20px;
   height: 40vh;
  }
  .new-main-wrapper{
    margin-top: 20vh;
  }
  .newest-title{
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .stp-annimation {
    top: 170px;
    padding-left: 20px;
  }
  .stp-annimation li {
    font-size: 20px;
  }
}

@media only screen and (min-width: 413px) {
  .green-box {
    background-color: purple;
    width: 55vw;
    height: 30vh;
  }
  .stp-dwayne {
    height: 45vh;
    padding-top: 15px;
  }
  .stp-annimation {
    top: 150px;
    padding-left: 10px;
    width: 50vw;
  }
  .stp-annimation li {
    font-size: 23px;
  }
  .new-main-wrapper{
    margin-top: 180px;
  }
}

@media only screen and (min-width: 766px) {
  .green-box {
    background-color: red;
    height: 33vh;
  }
  .stp-annimation {
    top: 210px;
    margin-left: 10px;
  }
  .stp-annimation li {
    font-size: 35px;
  }
  .newest-title{
    font-size: 40px;
    margin-bottom: 20px;
  }
  .new-main-wrapper{
    margin-top: 280px;
    height: 23vh;
  }
  .stp-dwayne {
    margin-left: 73px;
    margin-top: 70px;
    height: 49vh;
  }
}

@media only screen and (min-width: 799px) {
  .green-box {
    background-color: orange;
  }
}

@media only screen and (min-width: 999px) {
  .green-box {
    background-color: yellow;
  }
}
