@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.main-desktop {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 7;
}
.main-wrapper {
  width: 75vw;
  margin: 0;
}
.stp-annimation {
  grid-row-start: 3;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  width: 7em;
  padding-left: 20px;
  z-index: 2;
  top: 0px;
}
.stp-annimation li {
  opacity: 0;
  text-align: center;
  font-size: 17px;
  animation: firstmove 1s linear forwards;
  list-style: none;
  font-family: "Syne Mono", monospace;
}
.stp-dwayne {
  width: 80vw;
  margin: 0 auto;
  right: 50px;
  margin-top: 55px;
  margin-left: 20px;
}
.stp-dwayne:focus {
  width: 100vw;
}
.green-box {
  background-color: #dfff00;
  z-index: -1;
  height: 27vh;
  margin-left: 0px;
  width: 155px;
}

@keyframes firstmove {
  0% {
    color: #dfff00;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    color: #d0fc0d;
    text-shadow: 0 0 7px #d0fc0d;
  }
}

.stp-annimation span:nth-child(1) {
  animation-delay: 1s;
}
.stp-annimation li:nth-child(2) {
  animation-delay: 1s;
}
.stp-annimation li:nth-child(3) {
  animation-delay: 1.5s;
}
.stp-annimation li:nth-child(4) {
  animation-delay: 2s;
}
.stp-annimation li:nth-child(5) {
  animation-delay: 2.5s;
}
.stp-annimation li:nth-child(6) {
  animation-delay: 3s;
}
.stp-annimation li:nth-child(7) {
  animation-delay: 3.5s;
}

.new-main-wrapper {
  margin-top: 130px;
  height: 30vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
}
.newest-title {
  font-family: "Shrikhand", cursive;
  line-height: 0.8em;
  letter-spacing: 1px;
  font-weight: 400;
  align-content: center;
  margin-top: 10px;
  font-size: 26px;
  padding-left: 10px;
}

@media only screen and (min-width: 340px) {
  .green-box {
    width: 50vw;
  }
  .stp-annimation {
    width: 12em;
    padding-left: 5px;
  }
  .stp-annimation li {
    font-size: 20px;
  }
  .stp-dwayne {
    padding-top: 30px;
    margin-top: 20px;
  }
  .new-main-wrapper {
    margin-top: 150px;
    height: 25vh;
  }
  .new-wrapper {
    padding-top: 5px;
  }
  .newest-title {
    padding-left: 20px;
    font-size: 30px;
    margin-top: 0.5em;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 374px) {
  .green-box {
    background-color: #dfff00;
    width: 55vw;
    height: 29vh;
  }
  .stp-dwayne {
    margin-top: 20px;
    height: 38vh;
  }
  .new-main-wrapper {
    margin-top: 20vh;
  }
  .newest-title {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .stp-annimation {
    padding-left: 20px;
  }
  .stp-annimation li {
    font-size: 20px;
    letter-spacing: 1.5px;
  }
  .newest-title {
    margin-top: 0;
  }
  .new-date {
    margin: 0;
  }
}

@media only screen and (min-width: 413px) {
  .green-box {
    width: 55vw;
    height: 30vh;
  }
  .stp-dwayne {
    height: 45vh;
    padding-top: 15px;
  }
  .stp-annimation {
    grid-column-start: 2;
    width: 50vw;
    top: -20px;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .stp-annimation li {
    font-size: 23px;
  }
  .new-wrapper {
    margin-bottom: 0;
  }
  .new-main-wrapper {
    margin-top: 180px;
  }
}

@media only screen and (min-width: 766px) {
  .green-box {
    height: 30vh;
    width: 65%;
  }

  .stp-annimation li {
    font-size: 38px;
  }

  .newest-title {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top:0;
  }
  .new-main-wrapper {
    margin-top: 50%;
    height: 23vh;
  }
  .stp-dwayne {
    grid-row-start: 3;
    margin-left: 53px;
    height: 40vh;
  }
}

@media only screen and (min-width: 799px) {
  .green-box {
    height: 28vh;
  }
  .stp-dwayne {
  
    height: 40vh;
    margin-left: 65px;
    width: 135%;
  }

  .stp-annimation li {
    font-size: 40px;
  }
  .new-main-wrapper {
    margin-top: 65%;
  }
  .newest-title {
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 999px) {

  .green-box {
    background-color: yellow;

  }
  .stp-dwayne {

  }
  .stp-annimation{
    top:38%;
  }
  .main-desktop { 
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 6;
/*     grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 10% 40% 40% 40%;
    grid-template-rows: 10vh 40vh; */
  }
  .main-wrapper{
    width: 25vw;
  }
  .new-main-wrapper{
    margin-top:-10%;
    width: 40vw;
    margin-left: 45%;
    margin-bottom: 100%;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 5;
    grid-column-end: 8;
  }
}
