.detail-wrapper{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.detail-episode-num{
    align-self:flex-end;
    margin:0;
    font-size: 17px;
}
.wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}
.middle-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.detail-title{
    width: 80vw;
    font-size: 25px;
    margin: 0;
}
.detail-thumbnail{
    width: 30vw;
    display: inline;
}

.detail-audio{
    width:80vw;
    margin-top: 10px;
}
.detail-description{
    font-size: 17px;
}
