.detail-thumbnail{
    width: 40vw;
    display: inline;
    grid-column-start: 3;
    grid-column-end:6;
    grid-row-start: 2;
    margin-left: 40px;
}
.detail-wrapper{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
/*     margin-top: 30px; */
    padding-left: 10px;
}
.wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.detail-episode-num{
    align-self:flex-end;
    margin-top:30px;
    margin-bottom: 0;
    font-size: 17px;
}
.detail-title{
    width: 80vw;
    font-size: 37px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.middle-wrap{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 12px;
    margin-top: 0;
}
.detail-video{
    grid-column-start: 2;
    grid-column-end: 6;
}

.detail-audio{
    grid-column-start: 2;
    grid-column-end: 6;
    margin-top: 10px;
}
.detail-description{
    font-size: 17px;
}


@media only screen and (min-width: 360px){

}

@media only screen and (min-width: 374px){
}

@media only screen and (min-width: 414px){

}

@media only screen and (min-width: 767px){

}

@media only screen and (min-width: 799px){

}

@media only screen and (min-width: 999px){

}
