.detail-thumbnail {
  width: 37vw;
  display: inline;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 6;
  margin-left: 45px;
  margin-top: 3rem;
  z-index: 1;
}
.middle-wrap {
  grid-row-start: 6;
  grid-row-end: 7;

  grid-column-start: 1;
  grid-column-end: 6;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 17px;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 10px;
}
.detail-episode-num {
  margin: 0;
}
.detail-wrapper {
  grid-row-start: 3;
  grid-row-end: 6;

  grid-column-start: 1;
  grid-column-end: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #000000;
  padding: 10px;
  padding-right: 0;
}
.detail-title {
  grid-row-start: 4;
  grid-row-end: 6;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #000000;
}
.detail-audio {
  grid-column-start: 2;
  grid-column-end: 6;
  margin-top: 10px;
}
.detail-description {
  font-size: 17px;
}
.detail-duration {
  margin: 0;
}
/* .detail-video {
  grid-column-start: 2;
  grid-column-end: 6;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 5px;
} */

.pdf-cc-btn {
  font-family: "Syne Mono", monospace;
  font-size: 1em;
  padding: 1em;
  margin-right: 10px;
  font-weight: 600;
  background-color: #310059;
  border: 2px solid white;
  color: #dfff00;
  display: inline-block;
  border-radius: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.pdf-cc-btn a {
  text-decoration: none;
  color: #dfff00;
}
.pdf-cc-btn:hover {
  background-color: #dfff00;
  border: none;
  color: #310059;
}
.button-text:hover {
  color: #310059;
}
.pdf-cc-btn a:hover {
  color: #310059;
}

@media only screen and (min-width: 340px) {
  .middle-wrap {
    margin-top: -30px;
  }
  .detail-thumbnail {
    border-top: none;
    margin-top: -10px;
  }
}
@media only screen and (min-width: 374px) {
  .middle-wrap {
    grid-row-start: 3;
    grid-row-end: 5;
    height: 20vh;
  }
  .detail-thumbnail {
    grid-row-start: 3;
    grid-row-end: 4;
    width: 30vw;
    grid-column-start: 4;
    margin: 0;
  }
  .detail-wrapper {
    grid-row-start: 5;
    grid-row-end: 9;
    margin-bottom: 10%;
  }
}

@media only screen and (min-width: 414px) {
  .detail-thumbnail {
    margin-top: -7%;
    grid-column-start: 4;
  }
  .middle-wrap {
    grid-column-end: 6;
  }
}
@media only screen and (min-width: 539px) {
  .detail-thumbnail {
    width: 25vw;
    grid-column-start: 4;
  }
  .middle-wrap {
    grid-column-end: 6;
  }
}

@media only screen and (min-width: 767px) {
  .detail-thumbnail {
    width: 25vw;
  }
  .middle-wrap {
    font-size: 25px;
  }
  .detail-title {
    font-size: 45px;
  }
  .detail-audio {
    height: 10em;
  }
  .detail-description {
    font-size: 25px;
  }
  .pdf-cc-btn {
    margin-top: 10%;
    font-size: 2em;
  }
}

@media only screen and (min-width: 799px) {
  .detail-thumbnail {
    margin-left: 30%;
    width: 19vw;
  }
  .middle-wrap {
    font-size: 25px;
  }
  .detail-title {
    font-size: 45px;
  }
}

@media only screen and (min-width: 999px) {
  .middle-wrap {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
    padding: 0 20px;
    align-items: flex-end;
    font-size: 30px;
    height: auto;
    margin-left:10%;
  }
  .detail-thumbnail {
    grid-column-start: 5;
    grid-column-end: 6;
   grid-row-start: 5;
    width: 50%;
    margin: 2em;
    border: none;
    margin-left:25%;
  }
  .detail-wrapper {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    border: none;
  }
  .detail-title {
    font-size: 3.5em;
  }
  .detail-description {
    margin-top: 35px;
  }
  .detail-duration {
    margin: 0;
  }
  .detail-audio {
    margin-top: 35px;
  }
  .pdf-cc-btn {
    margin-top: 10%;
  }
}
