@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

.latest-episode {
  font-family: 'Aclonica', sans-serif;
  line-height: 0.8em;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 10px auto 4px;
  font-size: 26px;
  color: #ffffff;
}
.top-wrap {
  font-family: "Syne Mono", monospace;
  display: flex;
  justify-content: space-between;
  width: 77vw;
  padding: 0.25rem 0  0.25rem 0;
  font-weight: 700;
  color: #dfff00;
  height: 2em;
}

.new-soundcloud {
  width: 77vw;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.stubborn-btn {
  font-family: "Syne Mono", monospace;
  background-color: #310059;
  border: 1px solid white;
  color: #dfff00;
  display: inline-block;
  padding: 5px;
  border-radius: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 77vw;
  font-size: 1em;
}
.stubborn-btn:hover {
  background-color: #dfff00;
  border: none;
  color: #310059;
}

@media only screen and (min-width: 340px) {
  .top-wrap {
    justify-content: space-evenly;
  }
  .new-soundcloud {
    height: 6em;
  }
}

@media only screen and (min-width: 374px) {
  .latest-episode {
    margin-bottom: 0;
    letter-spacing: 1.75px;
  }
  .top-wrap {
    justify-content: space-between;
    height: 1.75em;
  }
  .new-soundcloud {
    margin-top: 0.5em;
  }
}

@media only screen and (min-width: 414px) {
  .latest-episode {
    font-size: 28px;
  }
}

@media only screen and (min-width: 767px) {
  .latest-episode {
    font-size: 40px;
  }
  .top-wrap {
    font-size: 23px;
  }
  .new-title {
    font-size: 30px;
    margin: 10px 0px;
  }
}

@media only screen and (min-width: 799px) {
  .top-wrap {
    font-size: 25px;
    margin-top: 10px;
  }
  .new-soundcloud {
    height: 5em;
  }
}

@media only screen and (min-width: 999px) {
  .top-wrap,
  .new-soundcloud,
  .stubborn-btn {
    width: 97%;
  }
}
