
.subscribe{
    font-size: 25px;
    font-weight: 600;
    width:80vw;
    margin-bottom:0;   
    padding: 30px 10px 10px 10px;
   /*  background-color: #dfff00;
   */
}
.s-icons-wrapper{
    width:75vw;
    display:flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: baseline;
    padding: 0px 10px 10px 10px;
    /* background-color: #dfff00;
   */
}
.s-icon{
    font-size: 35px;
    color: #310059;
}

@media only screen and (min-width: 374px) {
}
@media only screen and (min-width: 413px) {
    .subscribe{

    }
    .s-icons-wrapper{
    width:65vw;

    }
}
@media only screen and (min-width: 766px) {
    .subscribe{
        font-size: 35px;
    }
    .s-icons-wrapper{
        width: 50vw;
    }
    .s-icon{
        font-size: 45px;
    }
}
@media only screen and (min-width: 799px) {
    .subscribe{

    }
    .s-icons-wrapper{
    }
}

@media only screen and (min-width: 999px) {
    .subscribe{
        width: 20vw;
    }
    .s-icons-wrapper{
        width: 20vw;
    }
}