.about-wrapper{
    display: flex;
    flex-direction: column;
    margin-right: 14px;
    padding:10px;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 6;
}
.about-title{
    grid-row-start: 2;
    margin-top:0;
    margin-bottom:10px;
}
.about-p1{
    margin: 0 auto;
    font-size: 17px;
}
.about-p2{
    font-size: 17px;
}
.about-hosted{
    margin-top:0;
    font-size: 17px;
}
.about-btn-wrap{
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 6;
    display: flex;
    justify-content: center;
}
.subscribe-btn{
    border-radius: 30px;
    padding: 10px;
}
.who-she-wrapper{
/*     grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 6; */
}
.who-she-title{

}
.who-she-intro{

}
.featured-title{

}
.featured-links-wrapper{

}
.featured-links{

}

@media only screen and (min-width: 360px){

}

@media only screen and (min-width: 374px){
    
}

@media only screen and (min-width: 414px){

}

@media only screen and (min-width: 767px){

}

@media only screen and (min-width: 799px){

}

@media only screen and (min-width: 999px){

}
