@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.layout-body {
  display: grid;
  grid-template-columns: 0vw 20vw 20vw 20vw 20vw;
  grid-template-rows:1fr 1fr auto auto;
  grid-gap: 10px;
  padding: 0;
  padding-left: 10px;
  margin-top: 10px;
  margin-right: 0px;
  padding-bottom: 25px;
  width: 87vw;
  background-color: #EFE7DF;
  position: relative;
  height: 93vh;
}

.logo {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Shrikhand", cursive;
  font-size: 45px;
  line-height: 0.8em;
  font-weight: 200;
  letter-spacing: -3px;
  color: #000000;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
  width: 70vw;
  padding-left: 10px;
}

@media only screen and (min-width: 360px) {
  .layout-body {
    width: 87vw;
  }
}

@media only screen and (min-width: 374px) {
    .layout-body {
        width: 88vw;
        padding-bottom: 8%;
      }
      .logo{
        font-size: 55px;
        margin-bottom: 6%;
      }
}

@media only screen and (min-width: 413px) {
  .logo{
    font-size: 51px;
  }
  .layout-body {
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 766px) {
  .layout-body{
    width: 90vw;
    padding-left: 30px;
    padding-bottom: 7%;
  }
  .logo{
    font-size: 65px;
    margin: 20px auto 40px auto;
  }
}

@media only screen and (min-width: 799px) {
  .layout-body{
    width: 89vw;
    padding-left: 20px;
    padding-bottom: 10%;
  }
  .logo{
    font-size: 75px;
    margin: 20px auto 40px auto;
  }
}

@media only screen and (min-width: 999px) {
  .layout-body{
    width: 93vw;
  }
}
