@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.layout-body {
  padding: 0;
  padding-left: 10px;
  margin-top: 10px;
  margin-right: 0px;
  padding-bottom: 25px;
  width: 87vw;
  background-color: #e9e9e9;
  position: relative;
}

.logo {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Shrikhand", cursive;
  font-size: 45px;
  line-height: 0.8em;
  font-weight: 200;
  letter-spacing: -3px;
  color: #000000;
}

@media only screen and (min-width: 360px) {
  .layout-body {
    width: 87vw;
  }
}

@media only screen and (min-width: 374px) {
    .layout-body {
        width: 88vw;
        padding-bottom: 35px;
      }
}

@media only screen and (min-width: 413px) {
  .logo{
    font-size: 50px;
  }
  .layout-body {
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 767px) {
}

@media only screen and (min-width: 799px) {
}

@media only screen and (min-width: 999px) {
}
