.layout-body{
    padding: 0;
    padding-left:10px;
    margin-top: 10px;
    margin-right: 0px;
    width:87vw;
    background-color: blanchedalmond;
    position: relative;
}

.logo{
    text-decoration: none;
    margin-top: 0;
}