.nav-bar {
  height: 5vh;
  display: flex;
  justify-content: space-around;
  position: relative;
  transform-origin: 60vw 50vw;
  transform: rotate(90deg);
  top: 25vh;
  right: 20vw;
  z-index: auto;
}
.nav-link {
  text-decoration: none;
}
.about-link,
.episodes-link,
.home-link {
  font-family: 'Syne Mono', monospace;
  font-size: 1em;
  text-decoration: none;
  margin: 10px;
  background-color: #310059;
  color: white;
  padding: 4px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.about-link:hover, .about-link:active, .about-link:focus{
  background-color: #ffffff;
  color: #310059;
}
.episodes-link:hover, .episodes-link:active, .episodes-link:focus{
  background-color: #ffffff;
  color: #310059;
}
.home-link:hover, .home-link:active, .home-link:focus{
  background-color: #ffffff;
  color: #310059;
}
@media only screen and (min-width: 340px){
  .nav-bar{
    top: 25vh;
    right: 21vw;
  }
  .about-link,
  .episodes-link,
  .home-link {
    padding: 1px 10px 5px 10px;
  }
}

@media only screen and (min-width: 360px) {
  .about-link,
  .episodes-link,
  .home-link {
    font-size: 20px;
    padding: 5px 10px 5px 10px;
  }
}

@media only screen and (min-width: 374px) {
  .about-link,
  .episodes-link,
  .home-link {
    font-size: 20px;
    padding: 5px 7px 5px 10px;
  }
  .nav-bar {
    right:20.3vw;
    top:23vh;
  }
}

@media only screen and (min-width: 414px) {
}

@media only screen and (min-width: 766px) {
  .nav-bar{
    width: 65vw;
    top: 10vh;
  }
  .about-link,
  .episodes-link,
  .home-link {
    font-size: 30px;
    padding-bottom: 10px;
  }

}

@media only screen and (min-width: 799px) {
  .nav-bar{
    width: 65vw;
  }
  .about-link,
  .episodes-link,
  .home-link {
    font-size: 35px;
    padding-bottom: 12px;
  }
}

@media only screen and (min-width: 999px) {
  .nav-bar{
    width: 25vw;
    top: 30vh;
    right: 28vw;
  }
  .about-link,
  .episodes-link,
  .home-link {
    font-size: 35px;
    padding: 10px;
  }
  .nav-link{
   padding: 0px 20px;
  }
}
