.nav-bar {
  height: 10px;
  display: flex;
  justify-content: space-around;
  position: relative;
  transform-origin: 60vw 50vw;
  transform: rotate(90deg);
  top: 20vh;
  right: 19vw;
  z-index: auto;
}
.nav-link {
  text-decoration: none;
}
.about-link,
.episodes-link,
.home-link {
  font-family: 'Syne Mono', monospace;
  text-decoration: none;
  margin: 10px;
  background-color: #310059;
  color: white;
  padding: 4px;
  padding-bottom: 1px;
  border-radius: 5px;
}

@media only screen and (min-width: 360px) {
  .about-link,
  .episodes-link,
  .home-link {
    font-size: 20px;
    padding: 5px 10px 5px 10px;
  }
}

@media only screen and (min-width: 374px) {
}

@media only screen and (min-width: 414px) {
}

@media only screen and (min-width: 766px) {
  .nav-bar{
    width: 65vw;
  }
  .about-link,
  .episodes-link,
  .home-link {
    font-size: 30px;
    padding-bottom: 10px;
  }

}

@media only screen and (min-width: 799px) {
  .nav-bar{
    width: 65vw;
  }
  .about-link,
  .episodes-link,
  .home-link {
    font-size: 35px;
    padding-bottom: 12px;
  }
}

@media only screen and (min-width: 999px) {
  .nav-bar{
    width: 35vw;
    top: 25vh;
    height: 8px;
  }
  .about-link,
  .episodes-link,
  .home-link {
    font-size: 30px;
    padding-bottom: 10px;
  }
}
