.nav-bar{
    height: 10px;
    display: flex;
    justify-content: space-around;
    position: relative;
    transform-origin: 60vw 50vw;
    transform: rotate(90deg);
    top: 7vh;
    right: 14vw;
    z-index: auto;

};
.nav-link{
    text-decoration: none;
}
.about-link, .episodes-link, .contact-link {
    text-decoration: none;
    margin:0;
    background-color:#160d4b;
    color: white;
    padding:4px;
    padding-bottom: 1px;
}