.id-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.ep-num, .ep-date{
    margin-top:0;  
    font-size: 15px;  
    line-height: 0;
}
.ep-name{
    margin-top:0;
    margin-bottom: .25em;
    font-weight: 900;
}
.thumbnail{
    height: 200px;
    width: 210px;
    margin: 0 auto;
}
.ep-description{
    line-height: 1;
    font-size: 15px;  
}

@media only screen and (min-width: 360px){

    .ep-name{
        font-size: 25px;
    }
}

@media only screen and (min-width: 799px){
    .ep-name{
        font-size: 28px;
    }
    .ep-num, .ep-date{
        font-size: 20px;
        margin-bottom: 2rem;
    }
    .ep-description{
        font-size: 20px;
    }
}

@media only screen and (min-width: 999px){
.ep-num, .ep-date{
    font-size: 18px;
}
.ep-name{
    font-size: 33px;
}
}
