.id-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}
.ep-num, .ep-date{
    margin-top:0;  
    font-size: 15px;  
}
.ep-name{
    margin-top:0;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 30px;
}
.thumbnail{
    height: 200px;
    width: 210px;
    margin: 0 auto;
}

@media only screen and (min-width: 360px){

    .ep-name{
        font-size: 25px;
    }
}

@media only screen and (min-width: 374px){

}

@media only screen and (min-width: 414px){

}

@media only screen and (min-width: 767px){

}

@media only screen and (min-width: 799px){
    
}

@media only screen and (min-width: 999px){

}
