.header-all-eps {
  grid-row-start: 2;
  grid-column-start: 1;
  margin-top: 30px;
  width: 90vw;
  font-size: 35px;
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
  font-weight: 400;
}
.all-ep-wrapper {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: auto;
  grid-column-end: 6;
}
.episode-card {
  font-family: "Syne Mono", monospace;
  background-color: #310059;
  display: flex;
  flex-direction: column;
  margin: 20px 10px 20px 0px;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
}
.btn-wrapper .ep-detail-btn {
  background-color: #310059;
  border: 2px solid white;
  color: #dfff00;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: 800;
  padding: 10px;
  border-radius: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn-wrapper .ep-detail-btn:hover {
  background-color: #dfff00;
  border: none;
  color: #310059;
}
.start {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 6;
  font-size: 20px;
}


@media only screen and (min-width: 360px) {
}

@media only screen and (min-width: 374px) {
}

@media only screen and (min-width: 414px) {
}

@media only screen and (min-width: 767px) {
  .all-ep-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-end: span 4;
  }
  .episode-card {
    width: 30vw;
    margin-top: 10%;
  }
  .start {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    font-size: 40px;
  }
}

@media only screen and (min-width: 799px) {
  .all-ep-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-end: span 4;
  }
  .episode-card {
    width: 30vw;
    margin-top: 10%;
  }
  .start {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    font-size: 40px;
  }
}

@media only screen and (min-width: 999px) {
  .header-all-eps {
    font-size: 50px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 0;
  }
  .episode-card {
    width: 20vw;
    margin-top: 0;
    font-size: 18px;
  }
  .all-ep-wrapper {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 4;
  }
  .start {
    margin-top: 0;
    grid-column-start: 4;
  }
}
