.all-ep-wrapper {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 8;
}
.episode-card {

  background-color: #310059;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  margin: 10px;
}
.ep-detail-btn{
  font-family: "Syne Mono", monospace;
  background-color: #310059;
  border: 1px solid white;
  color: #dfff00;
  padding: 5px;
  border-radius: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  font-weight: 800;
}
.ep-detail-btn:hover {
  background-color: #dfff00;
  border: none;
  color: #310059;
}
.start {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 7;
  font-family: 'Aclonica', sans-serif;
  font-size: 20px;
  margin-top: 5em;
}



@media only screen and (min-width: 374px) {
  .start{
    grid-row-start: 5;
    grid-row-end: 7;
  }
}

@media only screen and (min-width: 767px) {
  .header-all-eps {
    font-size: 40px;
    grid-row-start: 2;
    margin-top: 20px;
  }
  .all-ep-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-end: span 4;
  }
  .episode-card {
    width: 30vw;
    margin-top: 10%;
  }
  .start {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 5;
    font-size: 40px;
  }
}

@media only screen and (min-width: 799px) {
  .all-ep-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-end: span 4;
    font-size: 1.5em;
  }
  .episode-card {
    width: 30vw;
    margin-top: 10%;
  }
  .start {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 5;
    font-size: 40px;
  }
}

@media only screen and (min-width: 999px) {
  .header-all-eps {
    font-size: 50px;
    grid-row-start: 3;
    margin-top: 0;
  }
  .episode-card {
    width: 20vw;
    margin-top: 0;
    font-size: 25px;
  }
  .all-ep-wrapper {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 4;
  }
  .start {
    margin-top: 0;
    grid-column-start: 4;
  }
}
